.wrapper {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: $cream-200;
}
.wrapper:hover {
  background-color: $cream-300;
}

.image {
  position: relative;
  width: 100px;
  height: 100px;
}
.image > img {
  border-radius: 8px 0 0 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $neutral-900;
  padding: 0 16px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: $neutral-900;
}

.description {
  font-size: 12px;
  line-height: 1.5;
  color: $neutral-700;
}
