.ul {
  display: grid;
  list-style: none;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  max-width: 480px;
  gap: 32px;
  width: 100%;
  @include mq(lg) {
    grid-template-columns: 1fr 1fr;
    max-width: 880px;
  }
}
